#tab-img{
    background: linear-gradient(262.34deg, #FEF7E2 0%, #EEEEFD 100%);
    height: 34rem;
}

#tab-images{
    border: 16px solid #1e1e1e;
}

.navbtn{
    /* background-color: aquamarine;     */
    margin-left: -10rem;
}
